@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --color-negro: #0a0a0a;
  --color-rojo: #e2231a;
  --color-blanco: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-negro: var(--color-negro);
  --color-rojo: var(--color-rojo);
  --color-blanco: var(--color-blanco);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scrollbar-gutter: stable;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
